.blob {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    background: rgb(122, 122, 122);
    border-radius: 50px;
    transition: .5s ease all;
}
.checkbox:checked+.label .blob {
    left: 0;
}

.checkbox:checked+.label {
    background-color: rgb(255, 255, 255);
}